.autocomplete-container {
	font-size: 13px;
	position: relative;
	padding: 4px 5px 4px 20px;
	cursor: text;
	height: auto !important;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	position: relative;
	line-height: 15pt;
	cursor: text;
}

.autocomplete-container input {
	margin-left: 5px;
	float: left;
}

.tag-item {
	/*float: left;*/
	background-clip: padding-box;
	background-color: #E4E4E4;
	background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
	border: 1px solid #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: move;
	line-height: 13px;
	margin: 3px 0;
	padding: 3px 20px 3px 5px;
	position: relative;
}


.delete-tag {
  background: url("../img/x.gif") no-repeat;
  display: block;
  font-size: 1px;
  height: 13px;
  width: 12px;
  cursor: pointer;
	margin-top: 10px;
}

.tag-item .delete-tag {
  position: absolute;
  right: 3px;
  top: 3px;
	margin: 0;
}

.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}

.autocomplete-dropdown-container {
	position: relative;
}

.dropdown-btn {
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 11px;
	width: 25px;
	height: 33px;
	text-indent: -9999999px;
	background: #a9a9a9;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}
.dropdown-btn:after {
	border-top: 6px solid #555;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 6px;
	position: absolute;
	top: 13px;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	max-width: 423px;
}

/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
	height: 100px;

}
