.autocomplete-container {
display: inline-block;
font-size: 13px;
position: relative;
background-color: #FFFFFF;
background: #fff no-repeat -38px -22px;
background: no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
background: no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
background: no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
background: no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
background: no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
background: no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
padding: 4px 5px 4px 20px;
border: 1px solid #AAAAAA;
cursor: text;
height: auto !important;
margin: 0;
overflow: hidden;
padding: 5px;
position: relative;
line-height: 15pt;
width: 503px;
cursor: text;
}

.autocomplete-container input {
background: none;
border:none;

margin-left: 5px;
float: left;
}

.autocomplete-container input:focus {
border:none;
outline: none;
}
.tag-item {
float: left;
background-clip: padding-box;
background-color: #E4E4E4;
background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
border: 1px solid #AAAAAA;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
color: #333333;
cursor: default;
line-height: 13px;
margin: 3px 0 3px 5px;
padding: 3px 20px 3px 5px;
position: relative;
}


.delete-tag {
background: url("img/x.gif");
display: block;
font-size: 1px;
height: 13px;
position: absolute;
right: 3px;
top: 3px;
width: 12px;
cursor: pointer;
}

.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}
